.cocktail {    
    background-color: rgb(133, 128, 128); 
    width: 30%; 
    height: 425px; 
    margin-top: 30px; 
    margin-bottom: 60px; 
    border: 6px double red;  
    display: flex;
   flex-wrap: wrap; 
   object-fit: contain;    
} 

.title { 
    font-size: 25px; 
    text-align: center; 
    font-weight: bold;  
    object-fit: contain; 
    line-height: 30px;  
    /* overflow: hidden; */
    /* white-space: nowrap;  
    text-overflow:ellipsis;   */
    /* display: flex;
    flex-direction: row;  */
}

.responsive { 
    object-fit: contain; 
    max-width: 100%; 
    height: auto; 
    text-align: center; 
    position: relative;  
    padding-top: 20px; 
    padding-bottom: 10px; 
}

