html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(0, 0, 0);
  text-align: center;
  border: 10px ridge rgb(255, 255, 255);
}

.logo {
  background-image: url("../../images/bottle.jpg");
  width:'250px';
  height:'250px'
}

hr {
  width: 25%;
  color: rgb(133, 128, 128);
  border: 2px rgb(255, 0, 0);
}

.jumbo-border-double {
  text-align: center;
  color: rgb(0, 0, 0);
  border: 6px double rgb(255, 0, 0);
  margin: 10vh 5vh 10vh 5vh;
}

.button-border {
    color: rgb(0, 0, 0);
    border: 6px double rgb(255, 0, 0);
}

.margin {
  margin-bottom: 20px;
}

.white-text {
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.box-shadow-grey {
    background-color: #000000;
    box-shadow: #ffffff 8px 8px 8px 8px;
    max-width: 100%;

  }